<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit">

</form>
<br>
<br>

<div>
    <h1>Student Info</h1>
    {% if stu %}

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>

            </tr>
            </thead>
            <tbody>
            {% for st in stu %}
                <tr>
                    <td>{{ st.id }}</td>
                    <td>{{ st.name }}</td>
                    <td>{{ st.email }}</td>
                    <td>{{ st.password }}</td>
                <td>
                    <a href="{% url 'updatedata' st.id %} " class="button">Edit </a>

                    <form action="{% url 'delete' st.id %} " method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="button" value="delete">

                    </form>



                </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>
    {% endif %}
</div>
</body>
</html>
